In [1]:
import numpy as np
import pymongo
import pandas as pd
# Connection to Mongo DB
try:
    conn=pymongo.MongoClient()
    print("Connected successfully!!!")
except pymongo.errors.ConnectionFailure as e:
    print("Could not connect to MongoDB: %s" % e) 
conn

recipesdb = conn['allrecipesMX']
collection = recipesdb['recipesMX']
collection2 = recipesdb['ingredientsMX']
df = pd.DataFrame(list(collection.find()))

Connected successfully!!!

In [3]:
collection2 = recipesdb['ingredientsMX']
df2 = pd.DataFrame(list(collection2.find()))
df2 = df2.set_index('idnumber')

In [4]:
df = df.set_index('idnumber')

In [5]:
df.head()

,_id,cal_count,cook_time,made_it_count,prep_time,recipe_title,review_count,star_rating,total_time,year
idnumber,,,,,,,,,,
13954,5ac4cadb013200f1fbad6f87,505,25M,2K,15M,b'Addictive Sweet Potato Burritos',1832,4.26375722885132,40M,Mexican
14169,5ac4caf2013200f1fbad6f9b,334,NA,3K,15M,b'Mexican Bean Salad',1605,4.81366443634033,1H15M,Mexican
14231,5ac4cafe013200f1fbad6fa4,262,NA,9K,10M,b'Guacamole',4230,4.80570554733276,10M,Mexican
15840,5ac4cb2b013200f1fbad6fb1,486,NA,3K,NA,b'Chicken Tortilla Soup V',1588,4.71148586273193,NA,Mexican
16285,5ac4cb37013200f1fbad6fba,342,12M,192,15M,b'Adobo Sirloin',164,4.42986440658569,2H30M,Mexican

In [6]:
import re
#print str(df.iloc[0,8])

#convert times to minutes
def contomin(timetest):
    if timetest == 'NA':
        return ''
    
    if re.search('D', timetest):
        days = int(re.findall('(\d+)D', timetest)[0])
    else:
        days = 0
    if re.search('H', timetest):
        hours = int(re.findall('(\d+)H', timetest)[0])
    else:
        hours = 0    
        
    if re.search('M', timetest):
        minutes = int(re.findall('(\d+)M', timetest)[0])
    else:
        minutes = 0
    
    return minutes+hours*60+days*60*24

def madetocountfix(madecount):
    if re.search('K', madecount):
        madecount = re.sub('K', '000', madecount)
    
    return int(madecount)
        
#byyear = df.groupby('year')

In [7]:
df.made_it_count = map(madetocountfix,df.made_it_count)

In [8]:
df['cook_time'] = map(contomin, df.cook_time)

In [9]:
df['prep_time'] = map(contomin, df.prep_time)

In [10]:
df['total_time'] = map(contomin, df.total_time)

In [11]:
df.head(n=10)

,_id,cal_count,cook_time,made_it_count,prep_time,recipe_title,review_count,star_rating,total_time,year
idnumber,,,,,,,,,,
13954,5ac4cadb013200f1fbad6f87,505,<map object at 0x10d6ea160>,<map object at 0x10d952f60>,<map object at 0x10d6ea7b8>,b'Addictive Sweet Potato Burritos',1832,4.26375722885132,<map object at 0x10d9552e8>,Mexican
14169,5ac4caf2013200f1fbad6f9b,334,<map object at 0x10d6ea160>,<map object at 0x10d952f60>,<map object at 0x10d6ea7b8>,b'Mexican Bean Salad',1605,4.81366443634033,<map object at 0x10d9552e8>,Mexican
14231,5ac4cafe013200f1fbad6fa4,262,<map object at 0x10d6ea160>,<map object at 0x10d952f60>,<map object at 0x10d6ea7b8>,b'Guacamole',4230,4.80570554733276,<map object at 0x10d9552e8>,Mexican
15840,5ac4cb2b013200f1fbad6fb1,486,<map object at 0x10d6ea160>,<map object at 0x10d952f60>,<map object at 0x10d6ea7b8>,b'Chicken Tortilla Soup V',1588,4.71148586273193,<map object at 0x10d9552e8>,Mexican
16285,5ac4cb37013200f1fbad6fba,342,<map object at 0x10d6ea160>,<map object at 0x10d952f60>,<map object at 0x10d6ea7b8>,b'Adobo Sirloin',164,4.42986440658569,<map object at 0x10d9552e8>,Mexican
16700,5ac4cb62013200f1fbad6fc0,287,<map object at 0x10d6ea160>,<map object at 0x10d952f60>,<map object at 0x10d6ea7b8>,b'Salsa Chicken',3117,4.62030172348022,<map object at 0x10d9552e8>,Mexican
16881,5ac4cb8e013200f1fbad6fcb,432,<map object at 0x10d6ea160>,<map object at 0x10d952f60>,<map object at 0x10d6ea7b8>,b'Burrito Pie',2767,4.55979490280151,<map object at 0x10d9552e8>,Mexican
169305,5ac4cb9a013200f1fbad6fd4,481,<map object at 0x10d6ea160>,<map object at 0x10d952f60>,<map object at 0x10d6ea7b8>,b'Sopapilla Cheesecake Pie',1609,4.76919507980347,<map object at 0x10d9552e8>,Mexican
19673,5ac4cba7013200f1fbad6fe0,66,<map object at 0x10d6ea160>,<map object at 0x10d952f60>,<map object at 0x10d6ea7b8>,b'Seven Layer Taco Dip',1824,4.73501682281494,<map object at 0x10d9552e8>,Mexican
234881,5ac4cbb7013200f1fbad6feb,170,<map object at 0x10d6ea160>,<map object at 0x10d952f60>,<map object at 0x10d6ea7b8>,b'Jalapeno and Cucumber Margarita',21,4.59999990463257,<map object at 0x10d9552e8>,Mexican

In [12]:
df.to_csv('recipesMX.txt',sep='\t')

In [13]:
df2.head()

,_id,ingredient,year
idnumber,,,
13954,5ac4cadb013200f1fbad6f7a,"b""b'1 tablespoon vegetable oil'""",Mexican
13954,5ac4cadb013200f1fbad6f7b,"b""b'1 onion, chopped'""",Mexican
13954,5ac4cadb013200f1fbad6f7c,"b""b'4 cloves garlic, minced'""",Mexican
13954,5ac4cadb013200f1fbad6f7d,"b""b'6 cups canned kidney beans, drained'""",Mexican
13954,5ac4cadb013200f1fbad6f7e,"b""b'2 cups water'""",Mexican

In [14]:
df2.to_csv('ingredientsMX.txt',sep='\t')