In [94]:
import numpy as np
import pymongo
import pandas as pd
# Connection to Mongo DB
try:
    conn=pymongo.MongoClient()
    print("Connected successfully!!!")
except pymongo.errors.ConnectionFailure as e:
    print("Could not connect to MongoDB: %s" % e) 
conn

recipesdb = conn['allrecipesIN']
collection = recipesdb['recipesIN']
collection2 = recipesdb['ingredientsIN']
df = pd.DataFrame(list(collection.find()))

Connected successfully!!!

In [95]:
collection2 = recipesdb['ingredientsIN']
df2 = pd.DataFrame(list(collection2.find()))
df2 = df2.set_index('idnumber')

In [96]:
df = df.set_index('idnumber')

In [97]:
df.head()

,_id,cal_count,cook_time,made_it_count,prep_time,recipe_title,review_count,star_rating,total_time,year
idnumber,,,,,,,,,,
13087,5ac4d3fb013200f2c1fac198,223,1H,2K,20M,b'Mulligatawny Soup I',1164,4.80063915252686,1H20M,Indian
14035,5ac4d40d013200f2c1fac1a1,235,20M,384,10M,b'Aloo Phujia',301,4.40459775924683,30M,Indian
141169,5ac4d420013200f2c1fac1ad,880,45M,2K,15M,b'Easy Indian Butter Chicken',741,4.71256303787231,1H,Indian
14565,5ac4d42d013200f2c1fac1b7,52,7M,3K,30M,b'Naan',1700,4.70370388031006,3H,Indian
165190,5ac4d438013200f2c1fac1c6,407,30M,2K,30M,b'Spicy Vegan Potato Curry',658,4.4783091545105,1H,Indian

In [98]:
import re
#print str(df.iloc[0,8])

#convert times to minutes
def contomin(timetest):
    if timetest == 'NA':
        return ''
    
    if re.search('D', timetest):
        days = int(re.findall('(\d+)D', timetest)[0])
    else:
        days = 0
    if re.search('H', timetest):
        hours = int(re.findall('(\d+)H', timetest)[0])
    else:
        hours = 0    
        
    if re.search('M', timetest):
        minutes = int(re.findall('(\d+)M', timetest)[0])
    else:
        minutes = 0
    
    return minutes+hours*60+days*60*24

def madetocountfix(madecount):
    if re.search('K', madecount):
        madecount = re.sub('K', '000', madecount)
    
    return int(madecount)
        
#byyear = df.groupby('year')

In [99]:
df.made_it_count = map(madetocountfix,df.made_it_count)

In [100]:
df['cook_time'] = map(contomin, df.cook_time)

In [101]:
df['prep_time'] = map(contomin, df.prep_time)

In [102]:
df['total_time'] = map(contomin, df.total_time)

In [103]:
df.head(n=10)

,_id,cal_count,cook_time,made_it_count,prep_time,recipe_title,review_count,star_rating,total_time,year
idnumber,,,,,,,,,,
13087,5ac4d3fb013200f2c1fac198,223,<map object at 0x10f536390>,<map object at 0x10f534fd0>,<map object at 0x10f5365c0>,b'Mulligatawny Soup I',1164,4.80063915252686,<map object at 0x10f5366a0>,Indian
14035,5ac4d40d013200f2c1fac1a1,235,<map object at 0x10f536390>,<map object at 0x10f534fd0>,<map object at 0x10f5365c0>,b'Aloo Phujia',301,4.40459775924683,<map object at 0x10f5366a0>,Indian
141169,5ac4d420013200f2c1fac1ad,880,<map object at 0x10f536390>,<map object at 0x10f534fd0>,<map object at 0x10f5365c0>,b'Easy Indian Butter Chicken',741,4.71256303787231,<map object at 0x10f5366a0>,Indian
14565,5ac4d42d013200f2c1fac1b7,52,<map object at 0x10f536390>,<map object at 0x10f534fd0>,<map object at 0x10f5365c0>,b'Naan',1700,4.70370388031006,<map object at 0x10f5366a0>,Indian
165190,5ac4d438013200f2c1fac1c6,407,<map object at 0x10f536390>,<map object at 0x10f534fd0>,<map object at 0x10f5365c0>,b'Spicy Vegan Potato Curry',658,4.4783091545105,<map object at 0x10f5366a0>,Indian
16641,5ac4d467013200f2c1fac1d4,192,<map object at 0x10f536390>,<map object at 0x10f534fd0>,<map object at 0x10f5365c0>,b'Red Lentil Curry',859,4.49182987213135,<map object at 0x10f5366a0>,Indian
174543,5ac4d474013200f2c1fac1e3,480,<map object at 0x10f536390>,<map object at 0x10f534fd0>,<map object at 0x10f5365c0>,b'Slow Cooker Butter Chicken',395,4.46858167648315,<map object at 0x10f5366a0>,Indian
17971,5ac4d49e013200f2c1fac1ee,179,<map object at 0x10f536390>,<map object at 0x10f534fd0>,<map object at 0x10f5365c0>,b'Carrot Rice',480,4.39739894866943,<map object at 0x10f5366a0>,Indian
212721,5ac4d4aa013200f2c1fac203,427,<map object at 0x10f536390>,<map object at 0x10f534fd0>,<map object at 0x10f5365c0>,b'Indian Chicken Curry (Murgh Kari)',624,4.74097156524658,<map object at 0x10f5366a0>,Indian
213236,5ac4d4b7013200f2c1fac21b,250,<map object at 0x10f536390>,<map object at 0x10f534fd0>,<map object at 0x10f5365c0>,b'Seitan Makhani (Vegan-Style Indian Butter Ch...,9,4.66666650772095,<map object at 0x10f5366a0>,Indian

In [104]:
df.to_csv('recipesIN.txt',sep='\t')

In [105]:
df2.head()

,_id,ingredient,year
idnumber,,,
13087,5ac4d3fa013200f2c1fac18a,"b""b'1/2 cup chopped onion'""",Indian
13087,5ac4d3fb013200f2c1fac18b,"b""b'2 stalks celery, chopped'""",Indian
13087,5ac4d3fb013200f2c1fac18c,"b""b'1 carrot, diced'""",Indian
13087,5ac4d3fb013200f2c1fac18d,"b""b'1/4 cup butter'""",Indian
13087,5ac4d3fb013200f2c1fac18e,"b""b'1 1/2 tablespoons all-purpose flour'""",Indian

In [106]:
df2.to_csv('ingredientsIN.txt',sep='\t')